<div class="container justify-content-center d-flex ">
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Iniciar sesion</h5>
            <form>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <button (click)="logIn()" type="submit" class="btn btn-primary mt-3">Iniciar</button>
            </form>
        </div>
    </div>

</div>